In [3]:
import pandas as pd 
import numpy as np
from datetime import datetime 
import random 
from dotenv import load_dotenv
import os
import random

In [4]:
load_dotenv()

True

items

In [5]:
items = [
    {
        'product_code': '4011',
        'product_description': 'Bananas',
        'price': .69,
        'cost': .59,
        'vendor_id': '45672',
        'vendor_name': 'Jeffs produce',
        'sub_department': 5,
        'sub_department_description': 'Produce',
        'category': 2,
        'category_description': 'produce'
    },
    {
        'product_code': '2545802654',
        'product_description': 'Bread',
        'price': 4.99,
        'cost': 3.99,
        'vendor_id': '25458',
        'vendor_name': 'Best Breads',
        'sub_department': 1,
        'sub_department_description': 'Grocery',
        'category': 1,
        'category_description': 'bread'       
    },
    {
        'product_code': '3221010024',
        'product_description': 'Milk',
        'price': 3.29,
        'cost': 2.99,
        'vendor_id': '32210',
        'vendor_name': 'Diary vendor',
        'sub_department': 3,
        'sub_department_description': 'Dairy',
        'category': 3,
        'category_description': 'milk'                    
    },
    {
        'product_code': '2251041536',
        'product_description': 'Cookies',
        'price': 4.59,
        'cost': 3.99,
        'vendor_id': '22510',
        'vendor_name': 'grocery vendor',
        'sub_department': 1,
        'sub_department_description': 'Grocery',
        'category': 4,
        'category_description': 'snacks'                    
    },  
    {
        'product_code': '7841278421',
        'product_description': 'Hot Dogs',
        'price': 5.99,
        'cost': 5.69,
        'vendor_id': '78412',
        'vendor_name': 'mikes meats',
        'sub_department': 4,
        'sub_department_description': 'Meat',
        'category': 5,
        'category_description': 'meat'                    
    }, 
    {
        'product_code': '2545847582',
        'product_description': 'HD Buns',
        'price': 2.99,
        'cost': 2.59,
        'vendor_id': '25458',
        'vendor_name': 'Best Breads',
        'sub_department': 1,
        'sub_department_description': 'Grocery',
        'category': 1,
        'category_description': 'bread'                   
    }, 
    {
        'product_code': '2251047152',
        'product_description': 'Ketchup',
        'price': 3.29,
        'cost': 2.99,
        'vendor_id': '22510',
        'vendor_name': 'grocery vendor',
        'sub_department': 1,
        'sub_department_description': 'Grocery',
        'category': 6,
        'category_description': 'condiments'                         
    }, 
    {
        'product_code': '2251010245',
        'product_description': 'Mustard',
        'price': 2.99,
        'cost': 2.69,
        'vendor_id': '22510',
        'vendor_name': 'grocery vendor',
        'sub_department': 1,
        'sub_department_description': 'Grocery',
        'category': 6,
        'category_description': 'condiments'                       
    },  
    {
        'product_code': '2251041157',
        'product_description': 'Pickles',
        'price': 4.29,
        'cost': 3.99,
        'vendor_id': '22510',
        'vendor_name': 'grocery vendor',
        'sub_department': 1,
        'sub_department_description': 'Grocery',
        'category': 7,
        'category_description': 'toppings'                       
    },    
    {
        'product_code': '2251063514',
        'product_description': 'Relish',
        'price': 3.49,
        'cost': 3.29,
        'vendor_id': '22510',
        'vendor_name': 'grocery vendor',
        'sub_department': 1,
        'sub_department_description': 'Grocery',
        'category': 7,
        'category_description': 'toppings'                         
    },  
    {
        'product_code': '2545842517',
        'product_description': 'HB Buns',
        'price': 3.99,
        'cost': 2.99,
        'vendor_id': '25458',
        'vendor_name': 'Best Breads',
        'sub_department': 1,
        'sub_department_description': 'Grocery',
        'category': 1,
        'category_description': 'bread'                    
    },    
    {
        'product_code': '7841247152',
        'product_description': 'Hamburgers',
        'price': 12.99,
        'cost': 11.99,
        'vendor_id': '78412',
        'vendor_name': 'mikes meats',
        'sub_department': 4,
        'sub_department_description': 'Meat',
        'category': 5,
        'category_description': 'meat'                           
    },   
    {
        'product_code': '3221000122',
        'product_description': 'Cheese',
        'price': 5.69,
        'cost': 4.99,
        'vendor_id': '32210',
        'vendor_name': 'Diary vendor',
        'sub_department': 3,
        'sub_department_description': 'Dairy',
        'category': 8,
        'category_description': 'cheese'                   
    }, 
    {
        'product_code': '4516341769',
        'product_description': 'Beer',
        'price': 13.99,
        'cost': 12.99,
        'vendor_id': '45163',
        'vendor_name': 'alchohol vendor',
        'sub_department': 6,
        'sub_department_description': 'Alochol',
        'category': 8,
        'category_description': 'alchol'                    
    },    
    {
        'product_code': '4516310048',
        'product_description': 'Wine',
        'price': 18.99,
        'cost': 17.99,
        'vendor_id': '45163',
        'vendor_name': 'alchohol vendor',
        'sub_department': 6,
        'sub_department_description': 'Alochol',
        'category': 8,
        'category_description': 'alchol'                         
    },   
    {
        'product_code': '8541214758',
        'product_description': 'Diapers',
        'price': 8.79,
        'cost': 7.99,
        'vendor_id': '85412',
        'vendor_name': 'nonfood vendor',
        'sub_department': 2,
        'sub_department_description': 'Non Food',
        'category': 9,
        'category_description': 'parenting'                  
    },                                    

]

prep

In [6]:
start_date = datetime(2024,1,1)
end_date = datetime(2024,12,31)

In [7]:
store_meta =[
    {
        'storeid':111,
        'store_name':'IGA',
        'store_number': '1'
    },
    {
        'storeid':38,
        'store_name':'IGA 2',
        'store_number': '2'
    },
    {
        'storeid':1196,
        'store_name':'Buy Low 440',
        'store_number': '440'
    }
]

In [8]:
items_ds = pd.DataFrame(items)
items_ds.head(20)

,product_code,product_description,price,cost,vendor_id,vendor_name,sub_department,sub_department_description,category,category_description
0,4011,Bananas,0.69,0.59,45672,Jeffs produce,5,Produce,2,produce
1,2545802654,Bread,4.99,3.99,25458,Best Breads,1,Grocery,1,bread
2,3221010024,Milk,3.29,2.99,32210,Diary vendor,3,Dairy,3,milk
3,2251041536,Cookies,4.59,3.99,22510,grocery vendor,1,Grocery,4,snacks
4,7841278421,Hot Dogs,5.99,5.69,78412,mikes meats,4,Meat,5,meat
5,2545847582,HD Buns,2.99,2.59,25458,Best Breads,1,Grocery,1,bread
6,2251047152,Ketchup,3.29,2.99,22510,grocery vendor,1,Grocery,6,condiments
7,2251010245,Mustard,2.99,2.69,22510,grocery vendor,1,Grocery,6,condiments
8,2251041157,Pickles,4.29,3.99,22510,grocery vendor,1,Grocery,7,toppings
9,2251063514,Relish,3.49,3.29,22510,grocery vendor,1,Grocery,7,toppings
10,2545842517,HB Buns,3.99,2.99,25458,Best Breads,1,Grocery,1,bread
11,7841247152,Hamburgers,12.99,11.99,78412,mikes meats,4,Meat,5,meat
12,3221000122,Cheese,5.69,4.99,32210,Diary vendor,3,Dairy,8,cheese
13,4516341769,Beer,13.99,12.99,45163,alchohol vendor,6,Alochol,8,alchol
14,4516310048,Wine,18.99,17.99,45163,alchohol vendor,6,Alochol,8,alchol
15,8541214758,Diapers,8.79,7.99,85412,nonfood vendor,2,Non Food,9,parenting

In [9]:
price_types = [ 'reg','sale', 'tpr']

In [10]:
sale_types = ['Sale','Refunded','voided']

In [11]:
sale_types_weights = [.7,.1,.2]

In [12]:
random.seed(42)

def generate_transactions(base_itemss,start_date,end_date,dtc=100,max_itemss=30,mqpi=10,minda=.25,maxda=1.0):
    '''
     Generate a random set of transactions using the base dataset of itemss

     Parameter:
        base_itemss(list): list of base itemss
        start_date(datetime): sd
        end_date(datetime): sd
        dtc(int): desired transaction count
        max_itemss(int): max num of itemss per transaction
        mgpi(int): max quantity of items
        minda(float): min discount amount of items
        maxda(float): max discount amount of items
    '''

    date_range = pd.date_range(start_date,end_date, freq='d')
    transaction_list = []
    for store in store_meta:
        last_transaction_id = 1
        for day in date_range:
            for tx_id in range(last_transaction_id,dtc + 1 + last_transaction_id):
                num_itemss = random.randint(1,max_itemss)
                for seq, _ in enumerate(range(num_itemss)):
                    items = random.choice(base_itemss)
                    qty = random.randint(1,mqpi)
                    price = items['price'] 
                    retail_price = price
                    price_type = random.choice(price_types)
                    if price_types != 'reg':
                        discount_amount = round(random.uniform(minda,maxda),2)
                        price = price - discount_amount
                    sales = round(qty * price,2)
                    sale_type = random.choices(sale_types, sale_types_weights,k=1)[0]

                    transaction_list.append({
                        'storeid':store['storeid'],
                        'store_number':store['store_number'],
                        'store_name':store['store_name'],
                        'sale_date':day.date(),
                        'transaction_id':tx_id,
                        'sale_type':sale_type,
                        'line_number':seq+1,
                        'product_code':items['product_code'],
                        'product_description':items['product_description'],
                        'price_type':price_type,
                        'qty':qty,
                        'retail_price': retail_price,
                        'price':price,
                        'sales':sales,
                        'cost':items['cost'],
                        'vendor_id': items['vendor_id'],
                        'vendor_name': items['vendor_name'],
                        'sub_department': items['sub_department'],
                        'sub_department_description': items['sub_department_description'],
                        'category': items['category'],
                        'category_description': items['category_description']

                    })
            last_transaction_id = dtc+1
    return pd.DataFrame(transaction_list)

In [13]:
df = generate_transactions(items,start_date,end_date)

In [14]:
df.head(5)

,storeid,store_number,store_name,sale_date,transaction_id,sale_type,line_number,product_code,product_description,price_type,...,retail_price,price,sales,cost,vendor_id,vendor_name,sub_department,sub_department_description,category,category_description
0,111,1,IGA,2024-01-01,1,Sale,1,2251041536,Cookies,tpr,...,4.59,4.13,4.13,3.99,22510,grocery vendor,1,Grocery,4,snacks
1,111,1,IGA,2024-01-01,1,Sale,2,2251041536,Cookies,reg,...,4.59,3.90,35.10,3.99,22510,grocery vendor,1,Grocery,4,snacks
2,111,1,IGA,2024-01-01,1,Sale,3,3221010024,Milk,reg,...,3.29,2.66,10.64,2.99,32210,Diary vendor,3,Dairy,3,milk
3,111,1,IGA,2024-01-01,1,Sale,4,2251047152,Ketchup,sale,...,3.29,2.87,25.83,2.99,22510,grocery vendor,1,Grocery,6,condiments
4,111,1,IGA,2024-01-01,1,Sale,5,4011,Bananas,tpr,...,0.69,0.12,0.36,0.59,45672,Jeffs produce,5,Produce,2,produce

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1720538 entries, 0 to 1720537
Data columns (total 21 columns):
 #   Column                      Dtype
---  ------                      -----
 0   storeid                     int64
 1   store_number                object
 2   store_name                  object
 3   sale_date                   object
 4   transaction_id              int64
 5   sale_type                   object
 6   line_number                 int64
 7   product_code                object
 8   product_description         object
 9   price_type                  object
 10  qty                         int64
 11  retail_price                float64
 12  price                       float64
 13  sales                       float64
 14  cost                        float64
 15  vendor_id                   object
 16  vendor_name                 object
 17  sub_department              int64
 18  sub_department_description  object
 19  category                    int64
 20  category_description        object
dtypes: float64(4), int64(6), object(11)
memory usage: 275.7+ MB

In [16]:
df['store_name'].value_counts()

store_name
IGA            573957
IGA 2          573635
Buy Low 440    572946
Name: count, dtype: int64

insert into db

In [17]:
username = os.getenv('PG_USERNAME','')
password = os.getenv('PG_PASSWORD','')
host = os.getenv('PG_HOST','')
port = os.getenv('PG_PORT','')
database = 'onboarding'

In [18]:
#conn_str = f'postgresql+psycopg2:///{username}::{password}@{host}:{port}/{database}'
conn_str = f"postgresql+psycopg2://{username}:{password}@{host}:5432/{database}"

In [19]:
from sqlalchemy import create_engine
engine = create_engine(conn_str)

In [20]:
with engine.begin() as conn:
    df.head().to_sql('sales', con=conn, index=False, if_exists='append', method='multi')

In [21]:
def load_dataset_to_postgres(ds, table_name, schema='public'):
    import psycopg2
    from io import StringIO

    conn = psycopg2.connect(f'dbname={database} user={username} password={password} host={host}')
    cur = conn.cursor()
    buffer = StringIO()
    ds.to_csv(buffer, index=False, header=False)
    buffer.seek(0)

    cur.copy_from(buffer, f'{table_name}', sep=',')
    conn.commit()
    cur.close()
    conn.close()

In [22]:
load_dataset_to_postgres(df,'sales')

In [27]:
len(df.columns)

21

In [28]:
df.columns

Index(['storeid', 'store_number', 'store_name', 'sale_date', 'transaction_id',
       'sale_type', 'line_number', 'product_code', 'product_description',
       'price_type', 'qty', 'retail_price', 'price', 'sales', 'cost',
       'vendor_id', 'vendor_name', 'sub_department',
       'sub_department_description', 'category', 'category_description'],
      dtype='object')